body{
    background: linear-gradient(342deg, rgba(0,0,0,0.6278886554621849) 31%, rgba(214,118,28,0.5998774509803921) 57%, rgba(245,0,0,0.5466561624649859) 86%), url(imgs/Mulan.jpg);
    background-size: cover;
    
}

.name-producao{
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto;
    margin-right: 10px;
    
}

.producao h3{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: inline-block;
    flex-direction: flex-start;
    align-items: center;
    justify-content: center;
    color: white;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
}

.photo{
    border-radius: 8px;
    size: 40px;
    box-sizing: 25px;
    display: flex;
    flex-direction: flex-start;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 5px;
    width: 150px;

}